html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body > section {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s ease;
  z-index: 1;
}
body > section.active {
  opacity: 1;
  -webkit-transform: translate(0,0);
  z-index: 2;
}
body.light {
  background: #FDF6E3;
}
body.dark {
  background: #002B36;
}
.light ::-moz-selection{
  background: #839496;
  color:#fff;
  text-shadow: none;
}
.light ::selection {
  background: #839496;
  color:#fff;
  text-shadow: none;
}
