
nav {
  position: absolute;
  bottom: 0;
  left: -webkit-calc(50% - 560px);
}
nav button {
  background: #000 url(/img/cross.png) no-repeat center center;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  display: block;
  height: 40px;
  margin-bottom: 10px;
  opacity: 0.25;
  overflow: hidden;
  padding: 0;
  text-indent: 40px;
  white-space: nowrap;
  width: 40px;

  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
nav button:focus,
nav button:hover {
  opacity: 1;
}
#close {
  background-image: url(/img/cross.png);
}
#download {
  background-image: url(/img/download.png);
}
#fullscreen {
  background-image: url(/img/expand.png);
}

.editor {
  border: 0;
  display: block;
  font: 1.5em/1.2 Inconsolata,Monospace;
  height: -webkit-calc(100% - 10px);
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 10px 10px;
  width: 999px;
  border: 1px solid #000;
  border-width: 0 1px;

  resize: none;
  -webkit-user-modify: read-write-plaintext-only;
}
.editor #caretmarker {
  display: none;
}
.editor code {
}
.editor strong {
}
.editor strong.hx {
  text-decoration: underline;
}
.editor s {
  text-decoration: none;
}
.editor pre {
  white-space: pre-wrap;
}
.editor::-webkit-scrollbar {
  width: 10px;
}
.editor::-webkit-scrollbar-track {
}
.editor::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.editor:focus {
  outline: none; /* Since this is the only interactive element, it's
                    clearly what you should be interacting with. I don't
                    feel terrible about removing the explicit focus
                    ring.
                  */
}
aside {
  position: fixed;
  left: -webkit-calc(50% + 260px);
  bottom: 0;
  font: 15px/1.5 Inconsolata;
  text-align: center;
  width: 250px;
}

/** BLACK COLOR SCHEME **/
.black nav button {
  background-color: #333;
}
.black #editorsection {
  background: #111;
}
.black .aside {
  background: rgba(0, 0, 0, 0.5);
  color: #999;
}
.black .editor {
  background: #000;
  color: #CCC;
  border-color: #222;
}
.black s {
  color: #666;
}
.black code {
  background: rgba(255, 255, 255, 0.1);
}
.black code s {
  color: #C0766E;
}
.black a {
  color: #82ADB0;
}
.black a.referent {
  opacity: 0.5;
}

/** LIGHT COLOR SCHEME **/
.light #editorsection {
  background: #EEE8D5;
}
.light .editor {
  background: #FDF6E3;
  color: #657B83;
}
.light .editor code {
  background: #EEE8D5;
}
.light .editor strong {
  color: #586E75;
}
.light .editor s {
  color: #93A1A1;
}
.light .editor a {
  color: #268BD2;
}
.light .editor::-webkit-scrollbar-track {
  background: #FDF6E3;
}
.light .editor::-webkit-scrollbar-thumb {
  background: #EEE8D5;
}
.light aside {
  color: #586E75;
}

/** DARK COLOR SCHEME **/
.dark .editor {
  background: #002B36;
  color: #839496;
}
.dark .editor code {
  background: #073642;
}
.dark .editor strong {
  color: #93A1A1;
}
.dark .editor::-webkit-scrollbar-track {
  background: #002B36;
}
.dark .editor::-webkit-scrollbar-thumb {
  background: #073642;
}
.dark aside {
  color: #93A1A1;
}


